PORT=4000
JWt_SECRET=ASDFGHJKLQWERT
NODE_ENV=Development
PASSWORDS= your sql PASSWORDS
DBNAME= your db name
FRONTEND_URL=http://localhost:3000
HOST=localhost
USERS=root


// change this file name to config.env